@font-face {
  font-family: "Rene Bieder Book";
  src: url("../fonts/Rene-Bieder-Book.otf");
}

@font-face {
  font-family: "Rene Bieder Medium";
  src: url("../fonts/Rene-Bieder-Medium.otf");
}

@font-face {
  font-family: "Rene Bieder Bold";
  src: url("../fonts/Rene-Bieder-Bold.otf");
}
