@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";
@import "../styles/typography.scss";

.container {
  max-width: 1440px;
  height: 80vh;
  margin: auto;
  text-align: center;
  @media only screen and (max-width: 425px) {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desktop-image {
    margin-bottom: 20px;
    @media only screen and (max-width: 425px) {
      display: none;
    }
  }
  .mobile-image {
    margin-bottom: 50px;
    @media only screen and (min-width: 426px) {
      display: none;
    }
  }
  h1 {
    font-family: 'Rene Bieder Bold';
    font-size: 3rem;
    letter-spacing: 2px;
    @media only screen and (max-width: 425px) {
      padding: 0 10px;
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
  h2 {
    font-family: 'Rene Bieder Medium';
    font-size: 2.5rem;
    margin: 0 20px;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  .link {
    display: inline-block;
    text-decoration-color: black;
    @media only screen and (max-width: 425px) {
      padding: 20px 0;
    }
    .flex-link {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      color: black;
      text-decoration-color: black;
      &:hover  {
        .svg {
          cursor: pointer;
          transform: rotate(360deg);
          transition: all 0.5s ease-in-out 0s;
          &.inverted {
            cursor: pointer;
            transform: scaleX(-1) rotate(360deg);
            transition: all 0.5s ease-in-out 0s;
          }
        }
      }
    }
    .svg {
      width: 75px;
      height: 75px;
      // &:hover  {
      //   cursor: pointer;
      //   transform: rotate(360deg);
      //   transition: all 0.3s ease-in-out 0s;
      // }
      &.inverted {
        transform: scaleX(-1);
        // &:hover  {
        //   cursor: pointer;
        //   transform: scaleX(-1) rotate(360deg);
        //   transition: all 0.3s ease-in-out 0s;
        // }
      }
    }
  }
}
